mlflow==3.16.1
scikit-learn==1.7.2
pandas==2.3.3
numpy==2.2.6
boto3==1.43.98
feast==0.66.0
prometheus-fastapi-instrumentator==8.1.0
uvicorn==0.53.0
pydantic==2.13.4
onnxruntime==1.17.1
transformers==5.16.1
optimum[onnxruntime]==1.17.1
torch==2.5 --extra-index-url https://download.pytorch.org/whl/cpu
python-dotenv==1.0.1
evidently ==0.7.10
prefect == 3.0.0
requests==2.34.2
